<section class="membership">
  <h2>Membership</h2>
  <div class="dues-experience-wrapper">
    <div class="dues">
      <h3>Club Dues:</h3>
      <p>$20 Non-Testing</p>
      <p>$30 Testing</p>
    </div>
    <div class="experience">
      <h3>No experience necessary!</h3>
      <p>
        All new members will have the opportunity to begin as a white belt and
        rank up every semester. The dues are used to buy new members a uniform,
        patches, and wood boards for testing.
      </p>
    </div>
  </div>
</section>
