<section>
  <!-- 1850 Links -->
  <h2 class="joinText">
    Unlock Your Potential, Embrace Discipline, and Find Inner Strength!
  </h2>
  <a href="https://1850.udayton.edu/uditc/club_signup" class="joinLink">
    <h3 class="joinText">
      Join Our Taekwondo Club Today and Let Your Journey Begin!
    </h3>
  </a>
  <br />

  <!-- Social Media Links -->
  <h2 class="follow">Follow Us Online!</h2>
  <div class="SocialMedia-wrapper">
    <!-- Instagram -->
    <a
      href="https://www.instagram.com/ud_international_taekwondo/?igshid=MjEwN2IyYWYwYw%3D%3D"
    >
      <img src="../../../assets/instagram.webp" alt="Instagram" />

      <!-- Facebook -->
    </a>
    <a href="https://m.facebook.com/groups/udtkdclub" class="link">
      <img src="../../../assets/Facebook.png" alt="Facebook" class="Facebook" />
    </a>

    <!-- UD 1850 -->
    <a href="https://1850.udayton.edu/feeds?type=club&type_id=20238&tab=hom">
      <img
        src="../../../assets/1850smallLogo.png"
        alt="University of Dayton International Taekwondo Club 1850"
        class="ud1850"
      />
    </a>

    <!-- Gmail -->
    <a href="mailto:udtkdclub@gmail.com" class="gmail">
      <img
        src="../../../assets/GmailLogo.png"
        alt="Message udtkdclub@gmail.com"
      />
    </a>
  </div>
</section>
