<main>
  <h2 class="title">About Us</h2>
  <p class="spacing">
    The International Taekwondo Club is a UD Recreational Sports Club. You'll
    workout with UD students and alumni, and learn the Korean martial art of
    Taekwondo. Instruction is focused on the environment and experiences at UD.
    This will help you defend yourself, gain confidence, and have fun! Your life
    at UD and beyond will be enhanced by study in our club.
  </p>
  <h2 class="title">Goals</h2>
  <p class="spacing">
    The main goal of this club is to teach people the art of Taekwondo. However,
    through teaching Taekwondo we hope to make the community a safer place by
    educating others on how to defend themselves. We also hope to create a place
    where people want to come to practice at the end of a long day to learn,
    have a good workout, and hangout with friends.
  </p>

  <div class="activities">
    <h2>Some of the many fun activities you will do...</h2>

    <section id="forms-wrapper">
      <img src="../../../assets/TDKForms.jpg" alt="Students doing forms" />
      <div class="activities-wrapper">
        <h3>Forms</h3>
        <p>
          You will learn International Taekwondo Federation(ITF) forms. Forms
          are prearranged combinations of movements intended to develop a
          student's skills and technique. Each form integrates techniques
          learned in class, such as blocks, punches, kicks, and stances.
        </p>
      </div>
    </section>

    <br />

    <section id="BoardBreaking-wrapper">
      <div>
        <h3>Board Breaking</h3>
        <p>
          Board breaking is a martial arts technique that involves breaking
          wooden boards and other materials using different methods, such as
          kicks or hand strikes. It is a powerful way to demonstrate one's
          mastery of technique and strength while building confidence in
          oneself. Board breaking is a physical challenge that requires
          precision, speed, and proper alignment to break the boards
          successfully.
        </p>
      </div>
      <img
        src="../../../assets/TKDBreakingBoards.png"
        alt="Students doing Board Breaking"
      />
    </section>

    <br />

    <section id="Sparring-wrapper">
      <img
        src="../../../assets/TDKSparring.png"
        alt="Students doing Sparring"
      />
      <div>
        <h3>Sparring</h3>
        <p>
          Sparring is a combat training component in martial arts. You wear
          protective gear to execute kicks, punches, and defensive maneuvers
          without causing injury. It helps you read an opponent, adapt to
          different fighting styles, and enhance physical and mental endurance,
          making it an exciting element in Taekwondo.
        </p>
      </div>
    </section>

    <br />

    <section id="weaponsTraining-wrapper">
      <div>
        <h3>Weapons Training</h3>
        <p>
          You will learn a varity of weapons including sticks and nunchucks. We
          will aim to enhance your coordination, agility, and discipline while
          teaching you to wield these weapons effectively.
        </p>
      </div>
      <img src="../../../assets/TDKSticks.jpg" alt="Students doing Sticks" />
    </section>
    <h2>Show up and have fun!</h2>
  </div>

  <br />
  <app-membership></app-membership>
</main>
